{% extends 'layout.html' %}


</head>
<body>
	{% block content%}
	<center>
	<h1>Big Questions</h1>
	<p>welcome to our amaizing flask website!!</p>
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXT7lDOr0NUEYT_vTJdlkwPVkWkhkCSawk9g&usqp=CAU">
	<h2>what is the meaning of life?</h2>
	<p>please put your comments below.</p>
	<a class="btn btn-success" href="" role="button">Add a Comments</a>
	<br>
  <div class="alert alert-success" role="alert">
  Thank you for your comments!
</div>

<center>
	
</center>
	
    </center>

	{% endblock%}